*,*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  background-color: lightblue;
  padding: 10em;
}

.grid-item {
  height: 100px;
  background-color: lightcoral;
  text-align: center;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-item:nth-child(3) {
  color: white;
}
.grid-item:nth-child(4) {
  grid-row-start: 2;
  height: auto;
}
.grid-item:last-of-type {
  grid-column: 4;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.grid-item:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.grid-item::after {
  content: ' after ';
}
.grid-item:nth-child(1)::after, .grid-item:nth-child(2)::before {
  content: ' before ';
}